@import url('//fonts.googleapis.com/css?family=Josefin+Slab:400,700');

* {
    outline: none;

}

body {

    margin: 40px 0px;
    background-color: #385591;
}

body,
input,
button {
    font-family: Helvetica;
}

p{}

img {
    display: block;
    width: 100%;
    border: 0;
}

.tb {
    display: table;
    width: 100%;
}

.tr {
    display: table-row;
}

.td {

    display: table-cell;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

main {
    margin: 0 auto;
    background-color: #e9ebee;
    box-shadow: 0px 8px 30px #1d2d4f;
    border-radius: 4px;
    overflow: hidden;
}



/* Header */
header {
    padding: 15px 20px;
    background-color: #4267b2;
}

#logo {
    width: 30px;
}

#logo a {
    display: block;
}

#logo a i {
    font-size: 34px;
    color: #fff;
}

#search-form form {
    position: relative;
    width: 280px;
    font-size: 16px;
    padding: 8px 15px;
    padding-right: 37px;
    background-color: #3b5ca0;
    border-radius: 20px;
    margin-left: 15px;
}

#search-form form input {
    width: 100%;
    color: #fff;
    border: 0;
    background-color: transparent;
}

#f-name-l {
    width: 1px;
    color: #fff;
    font-weight: bold;
    white-space: pre;
    padding-right: 20px;
    margin-bottom: 20px;
}

/* Header finished */

/* Profile image header */
#profile-upper {
    position: relative;
}

#profile-d {
    position: absolute;
    left: 59px;
    bottom: 0px;
    right: 0px;
    height: 180px;
    z-index: 2;
}

#profile-banner-image {
    height: 360px;
    overflow: hidden;
    z-index: 1;
}

#profile-banner-image img {
    width: 150%;
    margin-top: -20%;
}

#profile-pic {
    background: #eebbbb;
    width: 180px;
    height: 180px;
    border-radius: 100px;
    margin-top: 28px;
    overflow: hidden;
    box-shadow: 0 0 0 5px #fff;
}

#profile-pic img {
    background: #eebbbb;
    width: 100%;
}

#u-name {
    position: absolute;
    top: 100px;
    left: 208px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
}


#black-grd {
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 71%, rgba(0, 0, 0, 0.53));
    z-index: 1;
}

/* Profile image header finished */

/* Content area */
#main-content {
    padding: 55px 0px 0px 55px;
}

#l-col,
#m-col,
#r-col {
    vertical-align: top;
}

#l-col {
    width: 200px;
    padding-top: 6px;
}

.l-cnt {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
}

.l-mrg {
    margin-top: 28px;
}



.q-ad img {
    display: inline;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    vertical-align: middle;
    background: #eebbbb;
}


#m-col {
    padding: 0px 55px;
}

.m-mrg {
    margin-bottom: 28px;
}

#p-tabs {
    position: relative;
    font-size: 13px;
    color: #919191;
    text-align: center;
    padding: 13px 20px;
    margin-top: -64px;
    background-color: #fff;
    box-shadow: 0px 3px 3px #ddd;
    z-index: 3;
}


#c-tabs .td i {

    font-size: 21px;
    margin-right: 4px;
    vertical-align: middle;
}



#c-tabs .td span {
    position: relative;
    top: 1px;
    font-size: 15px;
}

#c-c-main {
    position: relative;
    padding-top: 15px;
}

#p-c-i {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

#p-c-i img {

    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

#c-inp {
    padding-left: 10px;
    text-align: -webkit-left;
    width: 700px;
}

#c-inp input {
    width: 75%;
    font-size: 20px;
    border: 0;
    padding: 0;
    margin: 0;
}
.element {
    display: inline-flex;
    align-items: center;
}
i.fa-camera {
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
}
i:hover {
    opacity: 0.6;
}
#element input {
    display: none;
}


.example-1 input[type=file] {
    outline: 0;
    opacity: 0;
    pointer-events: none;
    user-select: none
}

.example-1 .label {
    width: 38px;
    height: 38px;
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 1.2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center
}

.example-1 .label i {
    display: block;
    font-size: 10px;
    padding-bottom: 5px
}

.example-1 .label i, .example-1 .label .title {
    color: grey;
    transition: 200ms color
}

.example-1 .label:hover {
    border: 2px solid #000
}

.example-1 .label:hover i, .example-1 .label:hover .title {
    color: #000
}





/* Chat bar finished */

/* Footer */


/* Footer finished */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
body {
    background-color: #eee;
    font-family: "Poppins", sans-serif;
    font-weight: 300
}

.card {
    border: none
}

.ellipsis {
    color: #a09c9c
}

hr {
    color: #a09c9c;
    margin-top: 4px;
    margin-bottom: 8px
}

.muted-color {
    color: #a09c9c;
    font-size: 13px
}

.ellipsis i {
    margin-top: 3px;
    cursor: pointer
}

.icons i {
    font-size: 25px
}

.icons .fa-heart {
    color: red
}

.icons .fa-smile-o {
    color: yellow;
    font-size: 29px
}

.imgPost {
    border-radius: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px
}

.imgComment {
    border-radius: 8% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px
}

.name {
    font-weight: 600
}

.comment-text {
    font-size: 12px
}

.status small {
    margin-right: 10px;
    color: blue
}
.input.form-control{
    width: 70%;
}

.form-control {
    border-radius: 26px
}

.form-select-sm {
    height: calc(1em + 0.5rem + 2px);
    border-radius: 26px
}

.comment-input {
    position: relative

}


.fonts {
    position: absolute;
    right: 13px;
    top: 8px;
    color: #a09c9c
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
}

.topnav {
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;

    background-color: #821134;
    overflow: hidden;
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;


}

/* Style the links inside the navigation bar */
.topnav a {
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;

    font-weight: 700;
    background-color: #fa96b5;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #e23a6e;
    font-weight: 700;
    color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}