<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/bands/{groupName}/{albumID}/edit (groupName=${groupName}, albumID=${album.getAlbumID()})}">Редактировать альбом</a>
<a th:href="@{/bands/{groupName}/{albumID}/delete (groupName=${groupName}, albumID=${album.getAlbumID()})}">Удалить альбом</a>
<div>
    <img th:src="@{'/imgcover/' + ${pathToImg}}" alt="альбом" width="200" height="200">
    <p>Название альбома: </p>
    <label th:text="${album.getAlbumName().replace('_', '/')}"></label>
    <p>Дата выхода: </p>
    <label th:text="${album.getAlbumReleaseDate() != null
    ?  album.getAlbumReleaseDate()
    : 'Дата выхода неизвестна'}"></label>
    <p>Песни: </p>
    <a th:href="@{/bands/{groupName}/{albumID}/addSong (groupName=${groupName}, albumID=${album.getAlbumID()})}">Добавить песню</a>
    <div th:each=" song : ${songs}">
        <label th:text="${song.getSongName()}"></label>
        <label th:text="${song.getSongDuration()}"></label>
        <a th:href="@{/bands/{groupName}/{albumID}/{songName} (groupName=${groupName}, albumID=${album.getAlbumID()}, songName=${song.getSongName()})}">Редактировать песню</a>
        <a th:href="@{/bands/{groupName}/{albumID}/{songID}/delete (groupName=${groupName}, albumID=${album.getAlbumID()}, songID=${song.getSongID()})}">Удалить песню</a>
        <div th:if = "${(song.getSongMV() != '') && (song.getSongMV() != null) }">
        <iframe  width="220" height="150"
                th:src="${song.getSongMV()}">
        </iframe>
    </div>
</div>
</body>
</html>