<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${account.getRoleID() < 2}">
<a th:href="@{/bands/edit/{groupID}(groupID=${group.getGroupID()})}">Редактировать группу</a>
</div>
<p>Название группы: </p>
<label th:text="${group.getGroupName()}"></label>
<p>Страна: </p>
<label th:text="${group.getGroupCountry()}"></label>
<p>Дебют: </p>
<label th:text="${group.getGroupDebutDate()}"></label>
<p>Статус: </p>
<label th:text="${group.getGroupDisbandDate() == null ?
 'Активна' : 'Распалась: ' + group.getGroupDisbandDate() }"></label>
<p>Фандом: </p>
<label th:text="${group.getGroupFandom()}"></label>
<p>Описание группы: </p>
<label th:text="${groupdesc}"></label>
<p>Состав: </p>
<div th:if="${account.getRoleID() < 2}">
<a th:href="@{/{groupName}/member/add(groupName=${group.getGroupName()})}">Добавить мембера</a>
</div>
<ul th:each=" member : ${members}">
    <li> <a th:href="@{/member/{memberStageName}
    (memberStageName=${member.getMemberStageName()})}" th:text = "${member.getMemberStageName()}"></a></li>
</ul>
<div th:if="${account.getRoleID() < 2}">
<a th:href="@{/bands/{groupName}/add(groupName=${group.getGroupName()})}" >Добавить альбом</a>
</div>
<div th:if ="${albums} != null">
    <p>Альбомы: </p>
    <ul th:each=" album : ${albums}">
        <li> <a th:href="@{{groupName}/{albumName}
        (groupName=${group.getGroupName()}, albumName=${album.getAlbumName()})}"
                th:text = "${album.getAlbumName()}"></a></li>
    </ul>
    </div>
</body>
</html>