<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {margin: 0 -5px;}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<div th:id="cardContainer"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var groupsID = /*[[${groupsID}]]*/ [];
    var groupDesc = /*[[${groupDesc}]]*/  [];
    var groupNames = /*[[${groupNames}]]*/  [];
    var groupFandoms = /*[[${groupFandoms}]]*/ [];
    /*]]>*/

    var length = groupsID.length;

    console.log(groupsID);
    console.log(groupDesc);
    console.log(groupNames);
    console.log(groupFandoms);
    console.log(length);
    console.log(length === 0);

    if (length === 0) {
        var str = '<h1>There are no groups to display</h1>';
    } else {
        var str = '';
        for (var j = 0; j < length; j++) {
            var length2 = groupsID.length;
            if (length2 === 0)
                break;
            str += '<div class="row">'
            if (length2 < 2) {
                str += '<div class="column">'
                str += '<div class="card">'
                str += '<h3>' + groupNames[0] + '</h3>'
                str += '<p>' + groupDesc[0] + '</p>'
                str += '<p>' + groupFandoms[0] + '</p>'
                str += '<a href="/bands/' + groupNames[0] + '">Перейти к группе</a><br>'
                str += '</div>'
                str += '</div>'
                groupsID.splice(0);
                groupNames.splice(0);
                groupDesc.splice(0);
                groupFandoms.splice(0);
            } else {
                for (var i = 0; i < 2; i++) {
                    str += '<div class="column">'
                    str += '<div class="card">'
                    str += '<h3>' + groupNames[i] + '</h3>'
                    str += '<p>' + groupDesc[i] + '</p>'
                    str += '<p>' + groupFandoms[i] + '</p>'
                    str += '<a href="/bands/' + groupNames[i] + '">Перейти к группе</a><br>'
                    str += '</div>'
                    str += '</div>'
                }
                groupsID = groupsID.slice(2);
                groupNames = groupNames.slice(2);
                groupDesc = groupDesc.slice(2);
                groupFandoms = groupFandoms.slice(2);

                console.log(groupsID);
                console.log(groupDesc);
                console.log(groupNames);
                console.log(groupFandoms);
                console.log(length);
            }
            str += '</div>';
        }
    }
    document.getElementById("cardContainer").innerHTML = str;
</script>
</body>


</html>