<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/css/' + 'homepage.css'}"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div class="st-container">
        <div class="topnav">
            <a class="active" th:href="@{'/'}">Relax</a>
            <div th:if="${principal != null}">
                <a th:href="@{'/forums'}">Forums</a>
                <a th:href="@{'/bands'}">Groups</a>
                <a th:href="@{'/labels'}">Labels</a>
                <a th:href="@{'/merch'}">Merch</a>
            </div>
            <div class="topnav-right">
                <div th:if="${principal != null}">
                    <a th:href="@{'/acc/' +${account.getAccountLogin()}}">Account</a>
                    <a th:href="@{'/profile/' +${profileID}}">Profile</a>
                </div>
            <div th:if="${principal == null}">Please, sign in
                <a th:href="@{'/login'}">Sign in</a>
            </div>
            </div>
        </div>

        <input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
        <a href="#st-panel-1">Serendipity</a>
        <input type="radio" name="radio-set" id="st-control-2"/>
        <a href="#st-panel-2">Happiness</a>
        <input type="radio" name="radio-set" id="st-control-3"/>
        <a href="#st-panel-3">Tranquillity</a>
        <input type="radio" name="radio-set" id="st-control-4"/>
        <a href="#st-panel-4">Positivity</a>
        <input type="radio" name="radio-set" id="st-control-5"/>
        <a href="#st-panel-5">Passion</a>

        <div class="st-scroll">

            <section class="st-panel" id="st-panel-1">
                <div class="st-deco" data-icon="&#xf069;"></div>
                <h2>Serendipity</h2>
                <p>Plan to the extent that feels right to you at a particular time in your life,
                    but always be open to serendipity.</p>
            </section>

            <section class="st-panel st-color" id="st-panel-2">
                <div class="st-deco" data-icon="&#xf118;"></div>
                <h2>Happiness</h2>
                <p>Happiness is not something you postpone for the future; it is something you design for the present.</p>
            </section>

            <section class="st-panel" id="st-panel-3">
                <div class="st-deco" data-icon="&#xf0f4;"></div>
                <h2>Tranquillity</h2>
                <p>You should feel beautiful and you should feel safe. What you surround yourself with should
                    bring you peace of mind and peace of spirit.</p>
            </section>

            <section class="st-panel st-color" id="st-panel-4">
                <div class="st-deco" data-icon="&#xf06c;"></div>
                <h2>Positivity</h2>
                <p>MWhen you are joyful, when you say yes to life and have fun and project positivity all around you,
                    you become a sun in the center of every constellation, and people want to be near you.</p>
            </section>

            <section class="st-panel" id="st-panel-5">
                <div class="st-deco" data-icon="&#xf004;"></div>
                <h2>Passion</h2>
                <p>Every great dream begins with a dreamer. Always remember, you have within you the strength,
                    the patience, and the passion to reach for the stars to change the world.</p>
            </section>

        </div>

    </div>

</div>


<form th:if="${principal != null}" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>