<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/css/' + 'homepage.css'}"/>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet"/>

</head>
<body>

<div class="container">
    <div class="st-container">
        <div class="topnav">
            <a class="active" th:href="@{'/'}">Relax</a>
            <div th:if="${principal != null}">
                <a th:href="@{'/forums'}">Forums</a>
                <div th:if="${account.getRoleID() < 2}">
                    <a th:href="@{'/bands'}">Groups</a>
                    <a th:href="@{'/labels'}">Labels</a>
                </div>
                <div th:unless="${account.getRoleID() <2}">
                <a href="#">WIP~</a>
                <a href="#">WIP~</a>
                </div>
                <a th:href="@{'/merch'}">Merch</a>
            </div>
                <div class="topnav-right">
                    <div th:if="${principal != null}">
                    <a th:href="@{'/acc/' +${account.getAccountLogin()}}">Account</a>
                    <a th:href="@{'/profile/' +${profileID}}">Profile</a>
                    </div>
            </div>
            <div th:if="${principal == null}">Please, sign in
                <a th:href="@{'/login'}">Sign in</a>
            </div>
        </div>

        <input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
        <a href="#st-panel-1">Serendipity</a>
        <input type="radio" name="radio-set" id="st-control-2"/>
        <a href="#st-panel-2">Happiness</a>
        <input type="radio" name="radio-set" id="st-control-3"/>
        <a href="#st-panel-3">Tranquillity</a>
        <input type="radio" name="radio-set" id="st-control-4"/>
        <a href="#st-panel-4">Positivity</a>
        <input type="radio" name="radio-set" id="st-control-5"/>
        <a href="#st-panel-5">Passion</a>

        <div class="st-scroll">

            <section class="st-panel" id="st-panel-1">
                <div class="st-deco" data-icon="&#xf069;"></div>
                <h2>Serendipity</h2>
                <p>Banksy adipisicing eiusmod banh mi sed. Squid stumptown est odd future nisi, commodo mlkshk pop-up adipisicing retro.</p>
            </section>

            <section class="st-panel st-color" id="st-panel-2">
                <div class="st-deco" data-icon="&#xf118;"></div>
                <h2>Happiness</h2>
                <p>Art party readymade beard labore cosby sweater culpa. Art party whatever incididunt, scenester umami polaroid tofu.</p>
            </section>

            <section class="st-panel" id="st-panel-3">
                <div class="st-deco" data-icon="&#xf0f4;"></div>
                <h2>Tranquillity</h2>
                <p>Sint aute occaecat id vice. Post-ironic fap pork belly next level godard, id fanny pack williamsburg forage truffaut.</p>
            </section>

            <section class="st-panel st-color" id="st-panel-4">
                <div class="st-deco" data-icon="&#xf06c;"></div>
                <h2>Positivity</h2>
                <p>Mixtape fap leggings art party, butcher authentic farm-to-table you probably haven't heard of them do labore cosby sweater.</p>
            </section>

            <section class="st-panel" id="st-panel-5">
                <div class="st-deco" data-icon="&#xf004;"></div>
                <h2>Passion</h2>
                <p>Fixie ad odd future polaroid dreamcatcher, nesciunt carles bicycle rights accusamus mcsweeney's mumblecore nulla irony.</p>
            </section>

        </div><!-- // st-scroll -->

    </div><!-- // st-container -->

</div>


<form th:if="${principal != null}" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

</body>
</html>